<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='col-md-3'>
            <img width="150" height=auto src="{{ person1.image }}"></img>
        </div>
        <div class='col-md-3'>
            <form>
                <button type='button'>{{person2.name}}</button>
            </form>
            <form action='/index2/{{person1._id}}'>
                <button type='submit'>{{person1.name}}</button>
            </form>
            <form>
                <button type='button'>{{person3.name}}</button>
            </form>
        </div>
    </div>
</nav>
