<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='col-md-3'>
            <img width="150" height=auto src="{{ person1.image }}"></img>
            <h3><a href='/{{ person1._id }}'>{{ person1.name }}</a></h3>
        </div>
        <div class='col-lg-6'>
            <small>{{ person1.bio }}</small>
            <form action='/'>
                <button type='submit'>Take Quiz Again</button>
            </form>
        </div>
    </div>
</nav>
