<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='col-md-3'>
            <img width="150" height=auto src="{{ person1.image }}"></img>
        </div>
        <div class='col-md-3'>
            {% if person1.name in names[0] %}
                <form action='/index2/{{person1._id}}'>
                    <button type='submit'>{{names[0]}}</button>
                </form>
                <form>
                    <button type='button'>{{names[1]}}</button>
                </form>
                <form>
                    <button type='button'>{{names[2]}}</button>
                </form>
            {% endif %}
            {% if person1.name in names[1] %}
                <form>
                    <button type='button'>{{names[0]}}</button>
                </form>
                <form action='/index2/{{person1._id}}'>
                    <button type='submit'>{{names[1]}}</button>
                </form>
                <form>
                    <button type='button'>{{names[2]}}</button>
                </form>
            {% endif %}
            {% if person1.name in names[2] %}
                <form>
                    <button type='button'>{{names[0]}}</button>
                </form>
                <form>
                    <button type='button'>{{names[1]}}</button>
                </form>
                <form action='/index2/{{person1._id}}'>
                    <button type='submit'>{{names[2]}}</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
