<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='col-md-3'>
            <img width="150" height=auto src="{{ person.image }}"></img>
            <h3><a href='/{{ person._id }}'>{{ person.name }}</a></h3>
        </div>
        <div class='col-lg-6'>
            <small>{{ person.bio }}</small>
            <form action='/'>
                <button type='submit'>Take Quiz Again</button>
            </form>
        </div>
    </div>
</nav>
