<!-- templates/partials/navbar.html -->

<nav class='navbar navbar-default'>
    <center>
        <div class='container-fluid'>
            <iframe src="https://calendar.google.com/calendar/b/1/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=bWFrZXNjaG9vbC5jb21fMGd0OW9ldmtpbmdlbHNrODBydDF2ajNuNDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;showTitle=1&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;showCalendars=0&amp;mode=AGENDA" style="border:solid 1px #777" width="400" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    </center>
</nav>
